abbr {
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 0.8em;
  margin-right: 0.5em;
  padding: 0.1em;
}

.hidden {
  display: none;
}

.low {
  color: firebrick;
}

.item-header {
  display: flex;
}

.high {
  color: green;
}

.badges {
  margin-top: 0.25em;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
}

.filter {
  background-color: green;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  flex: 1;
}

.icon {
  flex: 1;
  padding: 0;
}

.inactive {
  background-color: firebrick;
}

body, html {
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

html {
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

article {
  border-top: 1px solid black;
  margin-top: 1em;
}

img {
  border: 1px solid black;
  border-top: none;
  height: 5em;
  margin-right: 1em;
  width: 5em;
}

.filter-img {
  background-color: inherit;
  border: none;
  margin: 0;
  height: 2.5em;
  width: 2.5em;
}

section {
  box-sizing: border-box;
  margin: auto;
  max-width: 768px;
  padding: 0 1em 1em 1em;
}

button, input {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  box-sizing: border-box;
  color: black;
  height: 3em;
}

button:hover {
  text-decoration: underline;
}

.reset {
  background-color: #ccc;
  border-left: none;
}

input {
  flex: 1;
  padding-left: 0.5em;
}

.drops {
  margin: 0.5em 0 0 0.5em;
  padding: 0 1em;
}

.drop {
  list-style: square outside none;
}

.passive:nth-child(1n+1) {
  margin-top: 0.5em;
}

.search {
  display: flex;
}

.spinner {
  width: 2em;
  height: 2em;
  background-color: #333;
  margin: 1em auto;
  animation: rotateplane 1.2s infinite ease-in-out;
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
